<form [formGroup]="responses">
  <mat-stepper formArrayName="questions" linear>
    <div *ngFor="let question of questions.controls; let i = index">
      <mat-step [formGroupName]="i" [stepControl]="question">
        <h3>{{ questData[i].question }}</h3>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="{{ questData[i].id }}"
        >
          <ng-container *ngFor="let option of questData[i].options">
            <mat-radio-button value="{{ option }}">{{
              option
            }}</mat-radio-button>
          </ng-container>
        </mat-radio-group>

        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
    </div>
  </mat-stepper>
</form>
