<form [formGroup]="responses">
  <mat-stepper
    formArrayName="questions"
    linear
    [orientation]="(stepperOrientation | async)!"
  >
    <div *ngFor="let question of questions.controls; let i = index">
      <mat-step [formGroupName]="i" [stepControl]="question">
        <mat-card class="question-card">
          <mat-card-title class="question-title"
            >{{ i + 1 }}:- {{ questData[i].question }}?</mat-card-title
          >
          <mat-radio-group
            aria-label="Select an option"
            formControlName="{{ questData[i].id }}"
          >
            <mat-grid-list
              gutterSize="1rem"
              [cols]="breakpoint"
              rowHeight="2.5:0.5"
              (window:resize)="onResize($event)"
            >
              <ng-container *ngFor="let option of questData[i].options">
                <mat-grid-tile class="options">
                  <mat-radio-button value="{{ option }}">
                    <span class="option-radio-button">{{ option }}</span>
                  </mat-radio-button>
                </mat-grid-tile>
              </ng-container>
            </mat-grid-list>
          </mat-radio-group>
          <mat-card-actions>
            <button
              *ngIf="i !== questData.length - 1"
              mat-raised-button
              color="primary"
              matStepperNext
              primary
              type="button"
              disabled="{{ question.invalid }}"
            >
              Next
            </button>
            <button
              *ngIf="i != 0"
              mat-raised-button
              color="primary"
              matStepperPrevious
            >
              Back
            </button>
            <button
              *ngIf="responses.valid"
              mat-raised-button
              color="warn"
              type="button"
              disabled="{{ responses.invalid }}"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-step>
    </div>
  </mat-stepper>
</form>
