.options > ::ng-deep .mat-grid-tile-content {
  justify-content: flex-start;
}

.question-card {
  margin-top: 5rem;
}

.question-title {
  line-height: 1.5;
}

.option-radio-button {
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}
