<mat-card>
  <mat-card-title>Quiz Instructions</mat-card-title>
  <mat-card-subtitle> Read the instructions carefully </mat-card-subtitle>
  <mat-card-content>
    <ol>
      <li>
        Please do not click back or refresh the page when you are attempting
        quiz. Your responses wont be saved in that case
      </li>
      <li>
        The quizzes consists of questions carefully designed to help you
        self-assess your comprehension of the information presented on the
        topics covered in the module. No data will be collected on the website
        regarding your responses or how many times you take the quiz.
      </li>
      <li>
        Please go through each question in order. once you attempted an question
        you can navigate back to previous questions anytime
      </li>
      <li>
        Each question in the quiz is of multiple-choice format. Read each
        question carefully, and click on the button next to your response that
        is based on the information covered on the topic in the module.
      </li>
      <li>
        You have to submit response of question presented on the screen before
        moving to next question.Answering all the questions is mandatory to
        submit the quiz.
      </li>
      <li>
        After responding to a question, click on the "Next" button at the bottom
        to go to the next question
      </li>
      <li>
        You can navigate to any previous questions anytime to change your
        answer. You can make use of back button or the pagination above to do
        that
      </li>
      <li>
        The total score for the quiz is based on your responses to all
        questions. If you respond incorrectly to a question or retake a question
        again and get the correct response, your quiz score will reflect it
        appropriately. However, your quiz will not be graded, if you skip a
        question or exit before responding to all the questions.
      </li>
      <li>You can view the scores once you submit the test</li>
    </ol>
    <h2 style="text-align: center; color: green">All The Best</h2>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <div class="action-button-container">
        <button routerLink="take-exam" mat-raised-button color="warn">
          Start
        </button>
      </div>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
